<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medowlark Travle</title>
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
</head>
<body>
	<header><img src="/img/logo.jpeg" alt="logo" width="100" height="100"></header>
	{{{body}}}
	{{#if showTests}}
		<div id="mocha"><p><a href=".">Index</a></p></div>
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			mocha.ui( 'tdd' );
			//var assert = chai.assert();
			// this type of assertion is deprecated
			// what I have written is currently being used by chai
			var assert = chai.assert;
		</script>
		<script type="text/javascript" src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>
			mocha.run();
		</script>
	{{/if}}
</body>
</html>